{% load static %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Questions about all</title>
    <link href="{% static 'css/Styles.css' %}" rel="stylesheet" >
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
   
  </head>
  <body class="body_color">
    {% block nav %}{% endblock nav %}
    {% block title %}{% endblock title %}
  <div class="my_container">
      
       <div class="cont_body_2">
        {% block content %}{% endblock content %}
        {% block answers %}{% endblock answers %}
        {% block myanswer %}{% endblock myanswer %}
      </div>
  
    <div class="cont_body_2">
      {% include 'inc/right_menu.html' %}
    </div> 
  </div>
  {% block content2 %}{% endblock content2 %}
</main><!-- /.container -->
    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"> </script>

</body>
</html>
