{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Questions about all</title>
    <link href="{% static 'css/Styles.css' %}" rel="stylesheet" >
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
   
  </head>
  <body class="body_color">
    <nav class="navbar navbar-primary bg-dark">
      <a class="navbar-brand" href="#">
        <i>ASK_Shevchuk</i>
      </a>
      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search the question">
          <button class="btn btn-outline-primary my-2 my-sm-0 btn-light" type="submit">ASK!</button>
      </form>
      <div class="cont">
        <img src="{% static 'img/unnamed.jpg' %}"  width="64" height="64" class="leftimg">
         </img>
        <div class="row row-cols-1" >
          <div class="col">
            <button type="button" class="btn btn-link btn-sm">Nickname</button>
            <br>
          </div>
        </div>
        <div class="row row-cols-2">
          <div class="col">
            <a href="settings.html"><button type="button" href="settings.html" class="btn btn-link btn-sm but_ton">settings</button></a> 
            <button type="button" class="btn btn-link btn-sm but_ton">logout</button>
          </div>
        </div>
      </div>
    </nav>
    <h1><strong>New Questions</strong></h1>
  <div class="my_container">
      
       <div class="cont_body_2">
       {% for question in questions %}
          {% include 'inc/question.html' %}
        {% endfor %}

      </div>
  
    <div class="cont_body_2">
      <p class="tags_margin"><strong>Popular Tags</strong><br></p>
      <p class="tags_margin"><span class="tag_1">Technopark</span><br></p>
      <p class="tags_margin"><span class="tag_2">Stalin</span><br></p>
      <p class="tags_margin"><span class="tag_3">Moonpark</span><br></p>
      <p class="tags_margin"><strong>Best members</strong><br></p>
      <a class="members tags_margin" href= "...">drDre<br></a>
      <a class="members tags_margin" href= "...">DOOM<br></a>
      <a class="members tags_margin" href= "...">Lifestealer<br></a>
    </div> 
  </div>
  <div class="my_container">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</main><!-- /.container -->
    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"> </script>

</body>
</html>
