{% load static %}



<div class="card text-black bg-light mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div class="date">20/05/2020</div>
      <div class="nick" >Author: {{ answer.Author }}</div>
      <img src="{% static 'img/unnamed.jpg' %}"  class="card-img cardImg" alt="avatar">
      <a class="like" href="#">likes!    {{ answer.Likes }} <br></a>
      <a class="dislike" href="#">dislikes! {{ answer.DisLikes }}</a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
      <p class="card-text">{{ answer.title }}<br>I have not seen him, I think, that you are right!  </p>
      </div>
      <p class="card_tags">Tags: <a href="...">tag1, </a>
      <a href="...">tag2</a></p>
      <div class="rating" href="#">Rating: {{ answer.rating }}</div>
    </div>
  </div>
</div>