{% load static %}



<form>
  <div class="form-group row">
    <label for="exampleFormControlTextarea1">Title</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
  </div>
  <div class="form-group row">
    <label for="exampleFormControlTextarea2">Text</label>
    <textarea class="form-control" id="exampleFormControlTextarea2" rows="7"></textarea>
  </div>
  <div class="form-group row">
    <label for="exampleFormControlTextarea3">Tags</label>
    <textarea class="form-control" id="exampleFormControlTextarea3" rows="1"></textarea>
  </div>
  <button type="submit" class="btn btn-primary mt-4 mb-4 registry">ASK!</button>
</form>