{% load static %}


<nav class="navbar navbar-primary bg-dark">
  <a class="navbar-brand" href="#">
    <i>ASK_Shevchuk</i>
  </a>
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search the question">
      <button class="btn btn-outline-primary my-2 my-sm-0 btn-light" type="submit">ASK!</button>
  </form>
  <div class="cont">
    <img src="{% static 'img/unnamed.jpg' %}"  width="64" height="64" class="leftimg">
     </img>
    

    <div class="row row-cols-2">
        <div class="col">
          <a href="{% url 'login' %}"><button type="button" class="btn btn-link btn but_ton">log in</button></a>
          <a href="{% url 'registration' %}"><button type="button" class="btn btn-link btn but_ton">register</button></a>
        </div>
    </div>
    
  </div>
</nav>