{% load static %}


<div class="my_container">
      <nav aria-label="Page navigation example">
        {% if content.has_other_pages %}
        <ul class="pagination">
          {% if content.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ content.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %}
          {% for i in content.paginator.page_range %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endfor%}
          {% if content.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ content.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </nav>
    </div>