{% load static %}


<div class="card text-black bg-warning mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div class="date">20/05/2020</div>
      <div class="nick" >Author: {{ question.Author }}</div>
      <img src="{% static 'img/unnamed.jpg' %}"  class="card-img cardImg" alt="avatar">
      <a class="like" href="#">likes!    {{ question.Likes }} <br></a>
      <a class="dislike" href="#">dislikes! {{ question.DisLikes }}</a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
      <h5 class="card-title"><a href="{% url 'question' gid=question.id %}">{{ question.title }}<br> Where is Stalin? (20)</a></h5>
      <p class="card-text">May be somebody have seen Stalin? Where is he? May be he is dead. Oh, no STALINA NA VAS NET!!!!</p>
      </div>
      <p class="card_tags">Tags:
        {% for tag in question.tags %}
          <a href="...">{{ tag.tag }}</a>
        {% endfor %}
      </p>
      <div class="rating" href="#">Rating: {{ question.rating }}</div>
    </div>
  </div>
</div>