{% load static %}


<div class="card text-black bg-success mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'img/unnamed.jpg' %}"  class="card-img" alt="avatar">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1">Like!</label>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
      <h5 class="card-title">Where is Stalin?</h5>
      <p class="card-text">May be somebody have seen Stalin? Where is he? May be he is dead. Oh, no STALINA NA VAS NET!!!!</p>
      </div>

    </div>
  </div>
</div>