{% load static %}


<p class="tags_margin"><strong>Popular Tags</strong><br></p>
      {% for tag in tags %}
             <a class="tags_margin tags" href="{% url 'tag' cur_tag=tag.tag %}"><span class="tag_{{ tag.id }}">{{ tag.tag }}<br></span></a>
      {% endfor %}
      <p class="tags_margin"><strong><br>Best members</strong><br></p>
      <a class="members tags_margin" href= "...">drDre<br></a>
      <a class="members tags_margin" href= "...">DOOM<br></a>
      <a class="members tags_margin" href= "...">Lifestealer<br></a>

